<div class="modal-header" ng-show="loaded">
    <h3 class="modal-title" translate>PASSWORD_GROUP_MANAGEMENT.MOVE_PASSWORD_GROUP</h3>
</div>

<form name="modalForm" ng-submit="submit()" novalidate>
    <div class="modal-body" ng-show="loaded">

        <div class="form-group">
            <label translate>PASSWORD_GROUP_MANAGEMENT.PARENT_GROUP</label>

            <ui-select data-ng-model="selected.state" theme="select2" style="width: 100%;">
                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                <ui-select-choices ui-disable-choice="group.right != 3" data-repeat="group.id as group in getGroups | filter: $select.search">
                    <span ng-repeat="n in group.layer" style="display: inline-block; width: 1px; height: 100%; padding-right: 20px;"></span>
                    <i class="fa" ng-class="group.icon" aria-hidden="true" ng-if="group.icon"></i>
                    <span data-ng-bind-html="group.name"></span>
                </ui-select-choices>
            </ui-select>
            <div class="invalid-feedback d-block" ng-if="modalForm.inputName.$error.required" ng-show="modalForm.$submitted" translate>VALIDATION.REQUIRED</div>
            <div class="invalid-feedback d-block" ng-if="modalForm.inputName.$error.maxlength" ng-show="modalForm.$submitted" translate-value-characters="32" translate>VALIDATION.MAX_LENGTH</div>
            <div class="invalid-feedback d-block" ng-if="formErrors.name">{{formErrors.name}}</div>
        </div>

    </div>

    <div class="modal-footer" ng-show="loaded">
        <button class="btn btn-light" type="button" ng-click="cancel()" translate>WORDS.CANCEL</button>
        <button class="btn btn-primary" type="submit" ladda="laddaLoading">{{ 'WORDS.MOVE'|translate }}</button>
    </div>
</form>
