{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}
    {{ get_page_title() }} - CSV Export
{% endblock %}

{% block fos_user_content %}

    {{ form_start(form) }}
    <br>
    <div class="text-center">
        <i class="fa fa-download fa-5x"></i>
    </div>
    <br>
    <br>
    <input type="submit" id="_submit" name="_submit" value="Download CSV" class="btn btn-login btn-block" />
    {{ form_end(form) }}
{% endblock %}

