$my-sidebar-width: 19rem;
$my-selection-sitebar-width: 350px;

$my-topbar-height: 3.2rem;

$navigation-item-color: #88898C;
$navigation-item-color-active: #DEEFF3;
$navigation-item-color-expand: #cddee2;

$navigation-item-bg-color-active: #E51D3E;
$navigation-sub-item-bg-color: #181A1D;

$password-info-list-group-item-background: transparent;
$password-info-list-group-item-hover-background: #eeeeee;

$password-info-list-group-item-active-background: #35394B;
$password-info-list-group-item-active-color: #DEEFF3;
$password-info-list-group-item-active-small-color: #9d9d91;
